.news{
    background-image: url(../img/counter-bg.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    &_wrapper-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 84px;
    }
    &_title{
        font-size: 48px;
    }
    &_list{
        width: 334px;
        font-size: 24px;
    }
   
}