.review {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 63px;
    border: none;
    

    &_title {
        margin: 0;
        grid-column: 1/3;
        text-align: center;
        font-size: 48px;
    }
    &_item {
        margin: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: rgba(173, 221, 222, 1);
    }
    &_name {
        color: #2D5E5E;
        font-size: 18px;
        display: grid;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-content: start;
        background-color: rgba(173, 221, 222, 1);
    }
    &_desc {
        color: #2D5E5E;
        font-size: 15px;
        margin: 0;
        background-color: rgba(173, 221, 222, 1);
        grid-column: 1/3;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 50px;
    }
}
